.layout {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.layout .info_page {
  color: rgb(56, 56, 56);
}

.content {
  margin-left: 0px;
  width: 100%;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
    flex-wrap: wrap;
    border: #000 solid 30px;
    border-bottom: none;
    max-height: 100vh;
  }

  .content {
    display: flex;
    justify-content: flex-start;
  }
}