.layout {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  .layout .info_page {
    color: rgb(56, 56, 56);
  }
  .content {
    display: flex;
    flex-grow: 1;
    margin-left: 0px;
    width: 100%;

  }
  @media (min-width: 768px) {
    .layout {
      display: flex;
    }
    .content {
      /* flex-grow: none; */
      width: 100%;
      /* margin-left: 300px; */
    }
    .canvas {
      display: flex;
      flex-grow: 3;
    }
  }